@font-face {
  font-family: 'Swis721Greek BT';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Swis721Greek BT'),
  url('https://statics.get-base.com/fonts/Swiss_721_Greek_BT.woff2') format('woff2'),
  url('https://statics.get-base.com/fonts/Swiss-721-Greek-BT_43242.ttf') format('truetype'),
  url('https://statics.get-base.com/fonts/Swiss_721_Greek_BT.woff') format('woff');
}
@font-face {
  font-family: 'Swis721 Md BT';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Swis721 Md BT'),
  url('https://statics.get-base.com/fonts/Swiss721MediumBT.ttf') format('truetype')
}
