@use 'fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..700&display=swap');

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --v-theme-overlay-multiplier: 1.2;
  scroll-behavior: smooth;
}

body {
  color: #474747;
  @apply text-base;
}

ul {
  li {
    @apply ml-4;
  }
}

h1 {
  @apply text-h1_sm leading-h1_sm mb-6;
}
h2 {
  @apply text-h2_sm leading-h2_sm mb-4;
}
h3 {
  @apply text-h3_sm leading-h3_sm mb-4;
}
h4 {
  @apply text-h4_sm leading-h4_sm mb-2;
}
h5 {
  @apply text-h5_sm leading-h5_sm mb-1;
}

@screen md {
  h1 {
    @apply text-h1 leading-h1;
  }
  h2 {
    @apply text-h2 leading-h2;
  }
  h3 {
    @apply text-h3 leading-h3;
  }
  h4 {
    @apply text-h4 leading-h4;
  }
  h5 {
    @apply text-h5 leading-h5;
  }
}
/* Body Text */
p {
  @apply text-base;
}
